label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
.indexBod{
    background: linear-gradient(to bottom, #339966 4%, #ccffcc 98%);
}
.ui.container{
    margin-top:5px;
}

.ui.form {
    margin-top: 10px;
}

.ui.star.rating {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui.button {
    margin-top: 20px;
}
