form.signup,
form.login {
  margin-top: 50px;
}
.indexBod{
  background: linear-gradient(to bottom, #339966 4%, #ccffcc 98%);
}
.ui.container{
  margin-top:5px;
}
#main{
  margin: 200px auto auto auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 4rem;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}h6{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}
a{
  color:white;
}
#explore{
  margin-top:30px;
  margin-bottom: 200px;
}
p{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.ui.medium.images {
  float: center;
  margin-left: 20px;
}

.ui.search {
  margin-top: 30px;
  margin-bottom: 25px;
}
.ui.button {
  margin-left: 20px;
}

ui.large.grey.basic.button {
  margin-bottom: 150px;
}

.ui.four.cards {
  margin: 20px;
}

.footer {
  margin-top: 10px;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */


#yelp img, #yelp img{
  width:auto;
}

#yelp .col-md-3 img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#yelp .col-md-3 .well{
  text-align: center;
  margin-left: auto;
  margin-right: auto
}
@media(min-width:960px){
  #yelp .col-md-3 .well{
    justify-content: center;
    height: 390px;
  }

  #yelp .col-md-3 img{
    justify-content: center;
    height:240px;
  }
}
